.autocomplete {
    position: relative;
    z-index: 3;
    padding: 0.5rem 0.5rem 0.1rem 0.5rem;
    border-radius: 5px;
    background-color: #fff;
    width: 4.5rem;
    bottom: -100%;
}

.autocomplete ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.autocomplete ul li button {
    font-size: 14px;
    padding-bottom: 0.15rem;
    padding-top: 0.15rem;
    padding-left: 0.15rem;
}

.square {
    background-color: #fff;
    width: 10px;
    height: 10px;
    position: absolute;
    transform: rotate(45deg);
    top: -0.2rem;
    left: 0.7rem;
}

.autocomplete-item {
    z-index: 10;
}

.autocomplete-item-button {
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border: none;
}

.autocomplete-item-button:hover {
    cursor: pointer;
    background-color: #ccc;
}