.course-info ul {
    list-style-type: none;
    margin: 1rem 0 0 0.5rem;
    padding: 0;
}

.course-info ul li {
    margin-bottom: 0.5rem;
}

.course-type-list ul {
    margin: 0;
}

.course-type-list ul li{
    display: inline-block;
    margin-right: 0.6rem;
}