.universal-bar {
  height: 3%;
  max-height: 3%;
  width: 100%;
  background-color: white;
  display: flex;
}

.social-links {
  height: 100%;
  width: 7%;
  margin: 0 10%;
  align-items: center;
  justify-content: space-around;
  display: flex;
  list-style: none;
}

.social-links span{
  border-right: solid 1px rgb(209, 207, 207);
  padding: 0 0.5rem;
  font-size: 12px;
  font-weight: 400;
}

.social-links span:last-child {
  border-right: none;
}

.universal-bar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin-right: 17%;
  margin-left: 8% ;
}

.universal-bar-items a {
  color: #000;
  font-size: 12px;
}

.login {
  width: 8%;
  margin-right: 10;
}

.login:hover {
  text-decoration: underline;
  opacity: 0.7;
  transition: all 0.15s ease;
}

.login a {
  font-family: 'Roboto';
  font-weight: 500;
  text-decoration: none;
  font-size: 12px;
  color: #92d400;
}

.icon-user {
  margin-left: 0.4rem;
}

.social-icon:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.10s ease-in-out;
}