.help-panel-image-item {
    width: 100%;
}

.image-text {
    margin-bottom: 0.5rem;
}

.image-wrapper {
    width: 15%;
    height: 15%;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.big {
    width: 65%;
    height: 40%;
}

.bigger {
    width: 80%;
    height: 55%;
}

.optional-desc {
    font-size: 12px;
    margin-bottom: 1rem;
}