.filters-and-search-wrapper {
    background-color: #fff;
    width: 100%;
    max-height: 3rem;
    padding: 0.5rem 1rem;
}

.filters-and-search-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.minor-width-content {
    width: 40%;
    margin: 0 30%;
    justify-content: space-around;
}

.minor-width-wrapper {
    max-height: none;
    padding: 2rem 0;
}