.filters-and-search-wrapper {
    background-color: #fff;
    width: 100%;
    max-height: 3rem;
}

.filters-and-search-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.minor-width-content {
    width: 30%;
}

.minor-width-wrapper {
    display: flex;
    justify-content: center;
    max-height: none;
    padding: 2rem 1rem 2rem 0;
}