.cell {
    height: 7%;
    width: 40%;
    min-width: 40%;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.285);
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cell.sm {
    height: 7%;
    width: 18%;
    min-width: 18%;
}

.cell.bg {
    height: 7%;
    width: 40%;
    min-width: 40%;
}

.cell.p {
    background-color: #8bd06d;
}

.cell.t {
    background-color: #ff987c;
}

.cell.tp {
    background-color: #e9a6e3;
}

.cell.lab {
    background-color: #eed12e;
}

.cell.outside-activity {
    background-color: #5f7eda;
}

.cell.warning {
    background-color: red;
}

.hours, .text, .percentage {
    width: 100%;
}

.hours, .percentage {
    font-size: 11px;
}

.hours{
    height: 30%;
}

.percentage {
    height: 30%;
}

.text {
    height: 40%;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}