.main-cell {
    height: 2.3rem;
    width: 40%;
    min-width: 48%;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.285);
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.uc-name {
    font-size: 14px;
    text-transform: lowercase;
}

.uc-name::first-letter {
    text-transform: capitalize;
} 

.main-cell-wrapper {
    padding-left: 0.5rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 0.3rem; 
    align-items: center;
}

.main-cell.done {
    background-color: rgb(67, 150, 67);
}

.main-cell.overload {
    background-color: rgb(217, 69, 69);
}

.main-cell:hover{
    cursor: pointer;
    background-color: #eee;
}