.main-teacher-cell {
    height: 2.5rem;
    width: 40%;
    min-width: 40%;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.285);
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.teacher-name {
    text-transform: capitalize;
    font-size: 14px;
}

.main-cell-wrapper:hover{
    cursor: pointer;
    background-color: #eee;
}

.teacher-hours {
    font-size: 15px;
}