.card-wrapper {
    position: relative;
    height: 6rem;
    width: 80%;
    margin-top: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    border: solid 1px #ccc;
    display: flex;
}

.card-wrapper-image {
    width: 10%;
}

.card-wrapper-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.card-content span {
    font-size: 18px;
}

.fullname {
    margin-bottom: 1rem;
}

.card-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 20%;
    padding: 0 1rem 1rem 0;
}

.card-buttons button {
    font-size: 15px;
    background-color: #FFF;
    height: 2rem;
    width: 60%;
    border-radius: 5px;
    border: solid 1px #ccc;
}

.card-buttons button:hover {
    cursor: pointer;
    background-color: rgb(190, 187, 187);
    transition: all 0.2s ease-in-out;
}